/*
Komentar

*/

body {
	font: 14px arial; 	
	background-color: #BBBBBB;
	color: #777777;
	background-image: url(images17.jpg); /* DODATO slika kao pozadina nekog elementa*/
	background-repeat: repeat;       /* repeat-x, repeat-y, no-repeat */

	
}


h1 {
	font: 18px arial;	
}


#wrapper {
	width: 779px; 
	margin: auto;		
}

#header {
	background-image : url(header_boat.png);  /* DODATO slika kao pozadina */
	width: 774px;        /* sirina bez paddinga i bordera; 774+5 = 779 */
	height: 163px;	
	color: #444444;
	text-align: left;	
	padding-left: 5px;
}

#header h1 {
	font: 24px arial;
	
}

#quicknav {	
	width: 777px;
	height: 30px;
	background-color: #444444;	
	color: #111111;
	border: 1px solid #222222;
}



#navigation {
	width: 225px;	
	background-color: #DDDDDD;
	float: right;

}

#main {
	
	width: 535px;
	float: left;
	background-color: #dddddd;

	border-bottom: #999999 1px solid; 
	border-left: #999999 1px solid; 
	border-right: #999999 1px solid; 
	border-top: #999999 0px solid; 

	padding: 5px;
	
} 


.article {
	margin-bottom: 10px;
	background-color: #ffffff;
	border: #999999 1px solid;
	padding: 15px;
	text-align: justify;
	text-indent: 0.5cm;

}

.article  img{                       /* DODATO */
	float: right;
	margin-left: 5px;
	border: 1px solid #000000;
		
}
